/*Style of homepage.html and index.html*/
html, * {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1%;
}

main {
    width: 100%;
}

#logo {
    float: left;
    width: 100px;
}

.display-4 {
    padding-top: 2%;
    color: #FFF;
}

.display-4 a {
    color: #fff;
}

#title{
    width: 20%;
    display: inline-block;
}

#projectManagingButton {
    margin-top:1%;
    width: 60%;
    display: inline-block;
}

#get_file {
    display: none;
}

/*Homepage*/
#alignHomepage {
    text-align: center;
    height: 100vh;
}

#logo1 {
    width: 120px;
}

p {
    color: #FFF;
}

.display-1 {
    padding-top: 2%;
    color: #FFF;
    text-align: center;
}

#footer {
    bottom: 5%;
    position: fixed;
}

.display-10 {
    size: 20px;
    color: #FFF;
    text-align: center;
}

.display-10 a {
    color: #fff;
}

/*INDEX: Drawing area composed of canvas
and the entity, border, control, and actor input buttons*/
#drawingArea {
    width: 100%;
    display: block;
    margin-top: 1%;
}

#managingWindow {
    float: left;
    width: 10%;
    margin-bottom: 2%;
}

#insertButtons {
    text-align: center;
}

.insBtnContainer {
    display: block;
    width: 90%;
    margin-top: 20%;
    margin-bottom: 10%;
}

.robEl {
    display: block;
    width: 4em;
    height: 40px;
    border: none;
    margin: 0;
    padding: 0;
}

button:hover .robEl {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.btnDescr {
    margin-top: 1%;
    padding-bottom: 0.3%;
    border-bottom: 0.2px solid white;
    width: 6em;
    cursor: default;
    color: white;
    text-align: center;
}

.input-group {
    margin-top: 6%;
}

#canvasContainer {
    margin-left: 1%;
    width: 98%;
    display: inline-block;
}

#canvas {
    width: 100%;
    height: 52em;
    border-radius: 2px;
    overflow: hidden;
    display: block;
}

@media only screen and (max-width: 870px) {
    #title {
        display: none;
    }

    header {
        text-align: center;
    }

    #logo {
        float: none;
        display: block;
        margin: auto;
        text-align: center;
    }

    .display-4 {
        display: block;
    }

    main {
        text-align: center;
    }

    #managingWindow {
        float: none;
        display: block;
        width: 100%;
        height: auto;
    }

    .insBtnContainer {
        margin: 0;
        width: 20%;
        display: inline-block;
    }

    .btn btn-outline-light {
        width: 19%;
        margin: 0;
    }

}

@media only screen and (max-width: 640px) {
    .btn btn-outline-light {
        width: 30%;
    }
}

@media only screen and (min-width: 1200px) {
    #closeEditor {
        margin-right: 1.3%
    }
}

@media only screen and (min-width: 1806px) {
    .btnDescr {
        display: block;
        margin: auto;
    }
}

/*Element created by javascript*/
#middle {

    width: 76%;
    min-height: 16em;
    padding-right: 1.9%;
    margin-left: 20%;
    padding-left: 2%;
}

#middle h1 {
    color: #ffffff;
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-size: 2.5em;
}

#erroreimg {
    float: right;
    width: 20%;
    height: 20%;
    padding: 1.0em;
    display: block;

}

#middle p {
    color: #ffffff;
    font-size: 1.5em;
    line-height: 1.3em;
}

.devs-RobustnessModel {
    position: absolute;
    pointer-events: none;
    -webkit-user-select: none;
    /* bind between js objects */
    box-sizing: border-box;
    z-index: 2;
}

.devs-RobustnessModel button {
    /*Enable interacting with inputs only. */
    pointer-events: auto;
}

.devs-RobustnessModel button.delete {
    color: white;
    border: none;
    background-color: #C0392B;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    position: relative;
    top: -4%;
    left: -2%;
    padding: 0;
    margin: 0;
    font-weight: bold;
    cursor: pointer;
}

.devs-RobustnessModel button.delete:hover {
    width: 20px;
    height: 20px;
    line-height: 20px;
}

/*Popup for label of link*/
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.window-label-content {
    margin: 10% auto;
    height: 25%;
    width: 35%;
    overflow-y: auto;
    background: #ffffff;
    border: 2px solid #5a6268;
    border-radius: 25px;
    text-align: center;
    padding: 3px;
    z-index: 2;
}

.window-label-content .form-control {
    margin: 5% auto;
    width: 80%;
}

#error-msg-content {
    margin: 10% auto;
    height: 30%;
    width: 25%;
    overflow-y: auto;
    background: #ffffff;
    border: 2px solid #5a6268;
    border-radius: 25px;
    text-align: center;
    padding: 2em;
    z-index: 2;
}

#error-text {
    color: #000000;
}

/*Form datafield*/
#entityDescription {
    display: none;
    margin: 40px auto;
    width: 100%;
    background-color: #b9bbbe;
    border: 2px solid #000000;
    border-radius: 5px;
    height: 35em;
}

#titleEntity {
    width: 100%;
    margin: 0;
    background: -webkit-linear-gradient(to bottom, #434343, #b9bbbe);
    background: linear-gradient(to bottom, #f8f9fa, #b9bbbe);
    text-align: center;
    border-radius: 5px 5px 0 0;
}

#titleEntity > select,
#titleEntity > input {
    margin-top: 1.8em;
}

#titleEntity > label {
    margin: 1.8em 0 30px;
}

.sameline {
    display: inline;
    margin: 0;
    padding: 0;
}

#dfContainer {
    width: 85%;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 10%;
    position: relative;
    border: 0.5px solid black;
    border-radius: 5px;
    z-index: 0;
}

#newDf {
    width: 100%;
    height: auto;
    max-height: 15em;
    overflow-x: hidden;
    overflow-y: auto;
}

#details{
    margin-top:1%;
}
#manageBtn{
    margin-top:2%;
    text-align: center;
}

.data-content {
    margin: 2% 2% 2% 2%;
}

.buttonDF {
    text-align: center;
}

#saveEntityEditor, #saveControlEditor {
    color: #000000;
    margin-bottom: 10px;
}

#closeEditor {
    color: #000000;
    margin-bottom: 10px;
    margin-right: 1.2%
}

#saveEntityEditor:hover, #saveControlEditor:hover {
    background-color: #15d615;
}

#closeEditor:hover {
    background-color: #d11d10;
}

.label {
    margin-left: 1em;
    font-size: 12pt;
}

.form-control {
    width: 25%;
}

/* 2-states button */
.twoStatesBtn {
    outline: 0;
    display: inline-block;
    background-color: #d11d10;
    color: #fff;
    border-radius: 3px;
    margin: 6px;
    border-color: #6c757d;
}

.twoStatesBtn:hover {
    background-color: #15d615;
}

.twoStatesBtn.active {
    background-color: #15d615;
    color: #000;
}

.twoStatesBtn.active:hover {
    background-color: #d11d10;
}

.parent-center {
    text-align: center;
    width: 95%;
}

.center {
    display: inline-block;
    margin: 0 auto;
}

.removalButton:hover {
    background-color: #d11d10;
}

#name-label {
    border-radius: 3px;
    border-color: #6c757d;
}

.subtitle {
    color: white
}

#saveInfo {
    padding: 1em;
    margin-bottom: 1em;
    visibility: hidden;
}

#entity-package {
    display: none;
    width: 400px;
}

#log {
    margin-top: 2em;
}

header input, header button {
    margin-bottom: 10px;
}

.red, .blue {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.red {
    overflow: hidden;
    padding: 1% 0 0 1%;
}

.blue {
    width: 24%;
    display: inline-block;
    float: left;
    margin: 0 1% 1% 0;
}

div.ext-box {
    display: table;
}

div.int-box {
    display: table-cell;
    vertical-align: middle;
}

.white {
    color: darkgrey;
}

.frontdrop {
    cursor: pointer;
    position: relative;
}

.frontdrop:after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

#openDescription {
    display: none;
}
